Sahil Mahesh Saykar
to
Everyone
11:09:30 AM
SM
done
Finance Wallah
to
Everyone
11:18:02 AM

name: Python CI

on:
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setting up python for my app.py
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest

    - name: Run the tests
      run: pytest -v
